@model TodoApp.ViewModels.AddTodoModel;

<div class="container mt-5">
    <h1 class="text-left mb-4">Add Todo</h1>
    <form asp-action="AddTodo" asp-controller="Todo" method="post">
        <div class="form-group">
            <label for="title" class="mb-1">Title</label>
            <input type="text" asp-for="@Model.Title" class="form-control" id="title" placeholder="Enter title...">
        </div>
        <div class="form-group mt-3">
            <label for="desc" class="mb-1">Example textarea</label>
            <textarea asp-for="@Model.Description" class="form-control" id="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Add</button>
    </form>
</div>